<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <title>API Endpoints</title>
    <style>
        h1 {
            text-align: center;
        }
        .width-70 {
            width: 70%;
        }
        .ml-15 {
            margin-left: 15%;
        }
    </style>
</head>
<body>
    <div class="width-70 ml-15">
        <h1>Combination API Endpoints</h1>
        <p>This web application contains 2 JSON API endpoints based in combination output.</p>
        <p>/coins returns the number of ways pennies, nickels, dimes, and quarters can be combined to sum exactly $1.</p>
        <p>/demo returns the number of combinations for an arbitrary set of currency names and denominations for an
        arbitrary total sum. The denomination_values.txt file accepts and parses the name of each denomination along with
        the number required of that denomination to reach the target sum.</p>
    </div>
</body>
</html>